<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tags Report</title>
</head>
<body>
      <table border="solid">
        <thead>
          <tr>
            <th>Adres IP</th>
            <th>Pasujące tagi</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td{% if tags|length != 0 %} rowspan="{{ tags|length}}" {% endif %}>{{ ip_address }}</td>
                <td>{{ tags.0|linebreaksbr }}</td>
            </tr>
            {% for tag in tags|slice:"1:" %}  
            <tr>  
                <td>{{ tag|linebreaksbr }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table> 
</body>
</html>
